<nav class="sidebar">

  @if (esAdministrador()) {

    <a
      routerLink="/estudiantes"
      routerLinkActive="active"
    >
      Estudiantes
    </a>

    <a
      routerLink="/cursos/nuevo"
      routerLinkActive="active"
    >
      Crear Curso
    </a>

    <a
      routerLink="/asignaciones"
      routerLinkActive="active"
    >
      Asignar Cursos
    </a>

    <a
      routerLink="/estudiante-cursos"
      routerLinkActive="active"
    >
      Cursos Asignados
    </a>

  }


  @if (esEstudiante()) {

    <a
      routerLink="/estudiante-cursos"
      routerLinkActive="active"
    >
      Mis Cursos
    </a>

  }

</nav>